* {
  font-family: Inconsolata;
  background-color: khaki;
}

h1 {
  text-align: center;
}

.date-picker {
  max-width: 320px;
  text-align: center;
  margin: 60px auto;
  user-select: none;
}

.selected-date {
  display: inline;
  width: auto;
}

.selected-date:hover {
  background-color: bisque;
}

.date-picker .days-in-cur-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  font-weight: 200px;
}

/* If it has a style when being hovered,then when I clicked it,it won't change color until 
  it's not hovered any longer.
*/
/* .date-picker .days-in-cur-month .day:hover {
  background-color: azure;
} */

.date-picker .week-abbrevs {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date-picker .month {
  display: flex;
  justify-content: space-between;
}

.arrow:hover {
  background-color: #f3f3f3;
}

.arrow:active {
  background-color: yellowgreen;
}

.date-picker .days-in-cur-month .selected {
  background-color: cadetblue;
}

.not-this-month {
  background-color: rgb(240, 236, 236);
}
